<div class="container section">
  <%= if @current_user do %>
    <div class="page-header no-pad-top">
      <h1 class="no-pad-top"><small>Hello</small><br /><%= Manager.Accounts.User.display_name(@current_user) %></h1>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Your Information</h3>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">First Name</th>
                <td><%= @current_user.first_name %></td>
              </tr>
              <tr>
                <th scope="row">Last Name</th>
                <td><%= @current_user.last_name %></td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td><%= @current_user.email %></td>
              </tr>
              <%= if @current_user.hours do %>
                <tr>
                  <th scope="row">Hours</th>
                  <td><%= @current_user.hours %></td>
                </tr>
              <% end %>
              <%= if @current_user.efficiency do %>
                <tr>
                  <th scope="row">Efficiency</th>
                  <td><%= Float.round(Decimal.to_float(@current_user.efficiency) * 100, 2) %>%</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% else %>
    <div class="page-header no-pad-top">
      <h1 class="no-pad-top">👨‍💻 Manager <small>Manage work hours.</small></h1>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Sign In</h3>
          </div>
          <div class="panel-body">
            <%= render Manager.Web.SessionView, "form.html", conn: @conn, action: session_path(@conn, :create) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
