<%= if get_flash(@conn, :info) do %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= get_flash(@conn, :info) %>
  </div>
<% end %>
<%= if get_flash(@conn, :error) do %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= get_flash(@conn, :error) %>
  </div>
<% end %>
