<%= active_link(@conn, "Home", to: "/", wrap_tag: :li) %>
<%= if @current_user do %>
  <li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= Manager.Accounts.User.display_name(@current_user) %> <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link "Settings", to: user_path(@conn, :edit) %></li>
      <li role="separator" class="divider"></li>
      <li><%= link "Sign out", to: session_path(@conn, :delete) %></li>
    </ul>
  </li>
<% else %>
  <%= active_link(@conn, "Sign In", to: session_path(@conn, :new), wrap_tag: :li) %>
  <%= active_link(@conn, "Sign Up", to: user_path(@conn, :new), wrap_tag: :li) %>
<% end %>
