/* This file is for your main application css. */
// Icons
$icon-font-path: "/fonts/";

// Navbar
$navbar-margin-bottom: 0px;

$navbar-default-color: #fafafa;
$navbar-default-bg: #3f51b5;

$navbar-default-link-color: #fafafa;
$navbar-default-link-hover-color: #eeeeee;
$navbar-default-link-active-color: #fafafa;

$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: #fafafa;
$navbar-default-toggle-border-color: transparent;

$navbar-default-brand-hover-color: #eeeeee;
$navbar-default-brand-hover-bg: transparent !default;

@import "bootstrap";

.section {
  padding-top: 1em;
  padding-bottom: 1em;
}

.no-pad-top {
  padding-top: 0px !important;
  margin-top: 0px !important;
}
