<div class="container section">
  <div class="page-header no-pad-top">
    <h1 class="no-pad-top">Settings <small>Edit your account information.</small></h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render "form.html", changeset: @changeset, action: user_path(@conn, :update) %>
        </div>
      </div>
    </div>
  </div>
</div>
