<div class="container section">
  <div class="page-header no-pad-top">
    <h1 class="no-pad-top">Create an Account <small>Please enter the following information.</small></h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
      <%= render "form.html", changeset: @changeset, action: user_path(@conn, :create) %>
    </div>
  </div>
</div>
