<%= form_for @conn, @action, [as: :session], fn f -> %>
<div class="form-group">
  <%= label f, :email, class: "control-label" %>
  <%= text_input f, :email, class: "form-control" %>
</div>

<div class="form-group">
  <%= label f, :password, class: "control-label" %>
  <%= password_input f, :password, class: "form-control" %>
</div>

<div class="form-group">
  <%= submit "Submit", class: "btn btn-primary" %>
</div>
<% end %>
