<div class="container section">
  <div class="page-header no-pad-top">
    <h1 class="no-pad-top">Sign In <small>Please enter your email address and password.</small></h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
          <%= render "form.html", conn: @conn, action: session_path(@conn, :create) %>
    </div>
  </div>
</div>
